/*Credits: */
/* http://jsfiddle.net/nathansnider/39gqqq8c/ */

.sliderContainer {
    margin: 0 50px;
}
.dotLegend {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display:inline-block;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}
.RdotColor{
    background: #cf0000;
}
.gdotColor{
    background: #fd4912;
}
.OdotColor{
    background: #ff7b00;
}
.YdotColor{
    background: #ffae00;
}
.WdotColor{
    background: #ffe600;
}